<%- include('includes/head.ejs') %>

<%- include('includes/navbar.ejs') %>

    <main>
        <% if (users.length > 0) { %>
            <div>
                <% for (let user of users) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= user.user %></h1>
                        </header>
                        <div class="card__image">
                            <img src="https://picsum.photos/200"
                            alt="A User">
                        </div>
                        <div class="card__content">
                            <p class="product__description">This is a new user</p>
                        </div>
                        <div class="card__actions">
                            <h5 class="btn">A very interesting user</h5>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Users Found!</h1>
        <% } %>
    </main>

<%- include('includes/end.ejs') %>